/*************************
*******Typography******
**************************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0C2A4A;
    background-color: #fff;
}

h1,
h2,
h4,
h5,
h6 {
    color: #0C2A4A;
}
h1{
    font-size: 5rem;
}
h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color: #DBB065;
    text-transform: uppercase;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
    color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
    font-weight: 300;
    color: #fff;
}

.btn {
    border: 0;
    border-radius: 0;
}
.btn.btn-primary {
    background-color: #80A7BF;
}
.btn.btn-primary:hover {
    background-color: #80A7BF;
}

.home-logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    background: transparent;
}

a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

section {
    padding: 8rem 0 4rem 0;
}

.heading {
    padding-bottom: 3rem;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
}

.preloader>i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}

a>.img-responsive {
    max-height: 5rem;
    display: inline;
    margin: 1rem;
}


/*************************
****Responsive Design CSS****
**************************/

@media (min-width: 576px) {
    #home-slider .row {
        transform: translateY(25%);
    }
    .presentation {
        margin-top: 100px;
    }
    .question {
        margin-left: 5%;
    }
    .question #image {
        text-align: right;
    }
    .question .col-md-7 {
        transform: translateY(25%);
    }
    .d-xs-none {
        display: block;
    }
}

@media (max-width: 576px) {
    .question {
        text-align: center;
    }
    .d-xs-none {
        display: none;
    }
    .carousel .row{
        text-align: center;
    }
}

/*************************
********Home CSS**********
**************************/

#home-slider {
    overflow: hidden;
    position: relative;
}

#home-slider .header-titre {
    margin-top: 15%;
}

#home-slider .header-titre h1 {
    color: #071126;
    text-transform: uppercase;
    font-weight: 700;
}

#home-slider .header-titre h2 {
    color: #DBB065;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.carousel img{
    max-height: 70vh;
} 
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

#home-slider .fa-angle-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #071126;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}

.navbar-right li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-right li.active a {
    background-color: rgba(0, 0, 0, .2);
}


/*************************
********Service CSS*******
**************************/

.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
    background-color: #333;
}

.our-services .col-sm-4 {
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4),
.our-services .col-sm-4:nth-child(5),
.our-services .col-sm-4:nth-child(6) {
    border-bottom: 0;
    padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3),
.our-services .col-sm-4:nth-child(6) {
    border-right: 0;
}

.service-info h3 {
    margin-top: 35px;
}


/*************************
********portfolio/Snapchat CSS*****
**************************/

#portfolio .container-fluid,
#portfolio .col-sm-3 {
    overflow: hidden;
    padding: 0;
}

#portfolio .folio-item {
    position: relative;
}
#portfolio .col-xs-6{
    padding-right: 0;
    padding-left:0;
}

#portfolio .overlay {
    background-color: #20374D;
    color: #fff;
    left: 0;
    right: 0;
    bottom: -100%;
    height: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.overlay .overlay-content {
    display: table;
    height: 100%;
    width: 100%;
}

.overlay .overlay-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.overlay .folio-info {
    opacity: 0;
    margin-bottom: 75px;
    margin-top: -75px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.overlay .folio-info h3 {
    margin-top: 0;
    color: #fff;
}

.folio-overview a {
    font-size: 18px;
    color: #333;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.folio-overview a:hover {
    color: #fff;
}

.folio-overview .folio-expand {
    margin-top: -500px;
    margin-left: -500px;
}

.folio-image,
.folio-overview .folio-expand {
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

#portfolio .folio-item:hover .folio-image {
    -webkit-transform: scale(1.5) rotate(-15deg);
    transform: scale(1.5) rotate(-15deg);
    opacity: 0;
}

.folio-image img {
    width: 20rem;
    margin: auto;
    padding: 2rem;
}

#portfolio .folio-item:hover .overlay {
    opacity: 0.8;
    bottom: 0;
    height: 100%;
}

#portfolio .folio-item:hover .folio-overview .folio-expand {
    margin-top: 0;
    margin-left: 0;
}

#portfolio .folio-item:hover .overlay .folio-info {
    opacity: 1;
    margin-bottom: 0;
    margin-top: 0;
}

#single-portfolio {
    padding: 90px 0;
    background: #f5f5f5;
    position: relative;
}

#single-portfolio img {
    width: 100%;
    margin-bottom: 10px;
}

#single-portfolio .close-folio-item {
    position: absolute;
    top: 30px;
    font-size: 34px;
    width: 34px;
    height: 34px;
    left: 50%;
    color: #999;
    margin-left: -17px;
}

div.folio-overview>img {
    width: 10rem;
}


/**************************
*****Qui suis-je CSS*******
**************************/

.qui-suis-je h3 {
    text-align: center;
}

.qui-suis-je .half {
    padding: 9%;
}

.qui-suis-je h2 {
    margin: 4%;
    text-align: center;
}

.qui-suis-je li {
    padding-bottom: 0.5rem;
    line-height: 1;
}

.qui-suis-je .img-center {
    position: absolute;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 35rem;
    margin-top: 3%;
}


/*************************
*********Team CSS*********
**************************/



.team-member {
    margin-bottom: 5rem;
}

.team-member h3 {
    color:#0C2A4A;
}
.social-icons {
    margin-top: 1rem;
    text-align: center;
}

.social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.social-icons ul li {
    float: left;
    margin-right: 8px;
}

.social-icons ul li:last-child {
    margin-right: 0;
}

.social-icons ul li a {
    color: #fff;
    background-color: #0C2A4A;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
}

.social-icons ul li a:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.team-member {
    text-align: center;
    color: #333;
    font-size: 14px;
}

.team-member:hover .social-icons ul li a.facebook {
    background-color: #3b5999;
}

.team-member:hover .social-icons ul li a.twitter {
    background-color: #2ac6f7;
}

.team-member:hover .social-icons ul li a.dribbble {
    background-color: #ff5b92;
}

.team-member:hover .social-icons ul li a.linkedin {
    background-color: #036dc0;
}

.team-member:hover .social-icons ul li a.rss {
    background-color: #ff6b00;
}

#team .img-responsive {
    width: 100%;
}

.member-info h3 {
    margin-top: 35px;
}

.member-info h4 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #999;
}


/*************************
*********Colors CSS*********
**************************/

.bg-darkblue {
    background-color: #0C2A4A;
    color: white;
}

.bg-lightblue {
    background-color: #80A7BF;
    color: white;
}

.bg-nude {
    background-color: #DBB065;
    color: white;
}

.bg-darkblue h1,
.bg-darkblue h2,
.bg-darkblue h3,
.bg-darkblue h4,
.bg-darkblue h5,
.bg-darkblue h6,
.bg-lightblue h1,
.bg-lightblue h2,
.bg-lightblue h3,
.bg-lightblue h4,
.bg-lightblue h5,
.bg-lightblue h6,
.bg-nude h1,
.bg-nude h2,
.bg-nude h3,
.bg-nude h4,
.bg-nude h5,
.bg-nude h6 {
    color: white;
}


/*************************
*********Presentation CSS*********
**************************/

.presentation {
    text-align: center;
}

.presentation h1 {
    color: #071126;
}

.presentation h3 {
    color: #DBB065;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.presentation h4 {
    color: #8C8C8C;
    margin-bottom: 30px;
}

.question .col-md-7 h4 {
    color: #8C8C8C;
    margin-bottom: 30px;
    margin-top: 3rem;
}


/*************************
*********visite CSS*********
**************************/

#visite {
    background-image: url(../images/visite/3D_Salle_Bellecour.jpg);
    max-width: 100%;
    padding:20vh 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.visite h2, 
.visite p, 
.visite .btn{
    color: #0C2A4A;
}

.visite-info p {
    color: white;
    font-size: large;
}

/*
**Blog CSS**
**/
.espace-bloc{
  margin-bottom: 40px;
  text-align: center;
}

.post-thumb {
    position: relative;
}

.post-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.post-meta {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.post-meta span {
    margin-right: 16px;
}

#post-carousel .carousel-indicators {
    bottom: 3px;
}

.blog-left-control,
.blog-right-control {
    position: absolute;
    top: 45%;
    width: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 36px;
}

.blog-left-control {
    left: 0;
    color: #0c2a4a;
}

.blog-right-control {
    right: 0;
    color: #0c2a4a;
}

.blog-left-control:hover,
.blog-right-control:hover {
    color: #000;
}

.blog-left-control:focus,
.blog-right-control:focus {
    color: #000;
}

.entry-header h3 a {
    line-height: 30px;
}

.entry-header .date,
.entry-header .cetagory {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
}

.entry-header .date:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 20px;
    height: 3px;
}

.entry-content {
    font-size: 14px;
}

.load-more {
    display: block;
    text-align: center;
    margin-top: 70px;
}

.btn-loadmore {
    border: 1px solid #f2f2f2;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 125px;
    text-transform: uppercase;
}

.btn-loadmore:hover {
    color: #fff;
}

.item > .img-responsive{
    max-height: 300px;
    min-height: 300px;
    margin: auto;
}

h3{
  color: #000;
}

.bouton{
  width: max-content;
  padding: 10px;
  margin: auto;
  border-radius: 15px;
  background-color: #80a7bf;
  transition: 1s;
}

.bouton a{
  color: #fff;
}

.bouton a:hover{
  color: #fff;
}

.bouton:hover{
  transform: scale(1.1);
  background-color: #3c546e
}
