/*************************
*******Typography******
**************************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #0C2A4A;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0C2A4A;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
    color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
    font-weight: 300;
    color: #fff;
}

.btn {
    border: 0;
    border-radius: 0;
}

.btn.btn-primary:hover {
    background-color: #017fb5;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    background: transparent;
}

a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

section {
    padding: 90px 0;
}

.heading {
    padding-bottom: 3rem;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
}

.preloader>i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}

a>.img-responsive {
    max-width: 5rem;
    display: inline;
    margin: 1rem;
}


/*************************
********Home CSS**********
**************************/

@media (min-width: 992px) {
    #home-slider .row {
        transform: translateY(25%);
    }
    .presentation {
        margin-top: 100px;
    }
    .question {
        margin-left: 5%;
    }
    .question #image {
        text-align: right;
    }
    .question .col-md-7 {
        transform: translateY(25%);
    }
    .visite {
        margin-top: 100px;
    }
    .d-xs-none {
        display: block;
    }
}

@media (max-width: 992px) {
    .question {
        text-align: center;
    }
    .d-xs-none {
        display: none;
    }
}


#home-slider {
    overflow: hidden;
    position: relative;
}

#home-slider .header-titre {
    margin-top: 15%;
}

#home-slider .header-titre h1 {
    color: #071126;
    text-transform: uppercase;
    font-weight: 700;
}

#home-slider .header-titre h2 {
    color: #DBB065;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.caption .btn-start {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
}

.caption .btn-start:hover {
    color: #fff
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

#home-slider .fa-angle-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #071126;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}

.navbar-right li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-right li.active a {
    background-color: rgba(0, 0, 0, .2);
}


/*************************
********Service CSS*******
**************************/

.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
    background-color: #333;
}

.our-services .col-sm-4 {
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4),
.our-services .col-sm-4:nth-child(5),
.our-services .col-sm-4:nth-child(6) {
    border-bottom: 0;
    padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3),
.our-services .col-sm-4:nth-child(6) {
    border-right: 0;
}

.service-info h3 {
    margin-top: 35px;
}


/*************************
********Qui suis-je CSS*******
**************************/

/*.qui-suis-je .row{
  margin: 0;
}*/

.qui-suis-je h3 {
    text-align: center;
    font-weight: bold;
}
.qui-suis-je .half {
    padding: 9%;
}

.qui-suis-je h2{
    margin: 4%;
    text-align: center;
}

.qui-suis-je li {
    padding-bottom: 0.5rem;
    line-height: 1;
    /*padding-right: 50px;*/
}

.qui-suis-je .img-center {
    position: absolute;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 35rem;
    margin-top: 3%;
}



/*responsive design*/

/*@media (max-width: 767px) {
  .d-l-none {
      display: none;
  }
  .d-xs-none {
      display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
 .d-l-none{
      display: none;
  }
  .d-xs-none{
    display: none;
  }
}
*/


/*************************
*********Team CSS*********
**************************/

#team {
    padding-top: 0;
}

.team-members {
    margin-bottom: 25px;
}

.social-icons {
    margin-top: 1rem;
    text-align: center;
}

.social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.social-icons ul li {
    float: left;
    margin-right: 8px;
}

.social-icons ul li:last-child {
    margin-right: 0;
}

.social-icons ul li a {
    color: #fff;
    background-color: #0C2A4A;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
}

.social-icons ul li a:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.team-member {
    text-align: center;
    color: #333;
    font-size: 14px;
}

.team-member:hover .social-icons ul li a.facebook {
    background-color: #3b5999;
}

.team-member:hover .social-icons ul li a.twitter {
    background-color: #2ac6f7;
}

.team-member:hover .social-icons ul li a.dribbble {
    background-color: #ff5b92;
}

.team-member:hover .social-icons ul li a.linkedin {
    background-color: #036dc0;
}

.team-member:hover .social-icons ul li a.rss {
    background-color: #ff6b00;
}

#team .img-responsive {
    width: 100%;
}

.member-info h3 {
    margin-top: 35px;
}

.member-info h4 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #999;
}


/*Colors*/

.bg-darkblue {
    background-color: #0C2A4A;
    color: white;
}

.bg-lightblue {
    background-color: #80A7BF;
    color: white;
}

.bg-nude {
    background-color: #DBB065;
    color: white;
}

.bg-darkblue h1,
.bg-darkblue h2,
.bg-darkblue h3,
.bg-darkblue h4,
.bg-darkblue h5,
.bg-darkblue h6,
.bg-lightblue h1,
.bg-lightblue h2,
.bg-lightblue h3,
.bg-lightblue h4,
.bg-lightblue h5,
.bg-lightblue h6,
.bg-nude h1,
.bg-nude h2,
.bg-nude h3,
.bg-nude h4,
.bg-nude h5,
.bg-nude h6 {
    color: white;
}




/*************************
*********Presentation CSS*********
**************************/

.presentation {
    text-align: center;
}

.presentation h1 {
    color: #071126;
}

.presentation h3 {
    color: #DBB065;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.presentation h4 {
    color: #8C8C8C;
    margin-bottom: 30px;
}

.question .col-md-7 h4 {
    color: #8C8C8C;
    margin-bottom: 30px;
}


/*************************
*********visite CSS*********
**************************/

#visite {
    background-image: url(../images/visite/institut-G4-bellecourV2.jpg);
    height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.visite-info h2 {
    color: white;
}

.visite-info p {
    color: white;
    font-size: large;
}