<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active" style="background-color: rgb(255, 255, 255);">
            <div class="container" style="height: 100%;">
                <div class="row">
                    <div class="col-md-5">
                        <img src="images/slider/propos-1.png" alt="Mascotte de l'institut G4" width="285" height="500">
                    </div>
                    <div class="col-md-7 header-titre">
                        <h1 class="animated fadeInLeftBig">Hey ! Je suis Bob</h1>
                        <h2 class="animated fadeInLeftBig">La mascotte de l'institut G4</h2>
                    </div>
                </div>                
            </div>
       </div>
    </div>
    <a id="tohash" href="#about-us"><i class="fa fa-angle-down"></i></a>
</div>