<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active" style="background-color: rgb(255, 255, 255);">
            <div class="container" style="height: 100%;">
                <div class="row">
                    <div class="col-sm-5 col-md-6 col-lg-5">
                        <img src="images/slider/propos-1.png" alt="Mascotte de l'institut G4" >
                    </div>
                    <div class="col-sm-7 col-md-6 col-lg-7 header-titre">
                        <h1 class="animated fadeInLeftBig">Hey ! Je suis Bob</h1>
                        <h3 class="animated fadeInLeftBig">La nouvelle mascotte de l'institut G4</h3>
                    </div>
                </div>                
            </div>
       </div>
    </div>
    <a id="tohash" href="#presentation"><i class="fa fa-angle-down"></i></a>
</div>