<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 bg-darkblue half">
            <div class="about-info wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>Technicien</h3>
                <img class="d-md-none" src="images/about/technicien.png" width="150px" >
                <ul>
                    <li>Maîtriser les outils de CMS (Content Management System), Framework et outils d’édition de code</li>
                    <li>Se montrer créatif et imaginatif pour trouver de nouvelles solutions et innover</li>
                    <li>Connaître et maîtriser la programmation</li>
                    <li>Avoir une bonne culture générale informatique</li>
                    <li>S’autoformer (via la veille, des cours en ligne etc)</li>
                </ul>
            </div>
        </div>

            <img class="img-center d-xs-none" src="images/about/bob.png" >
            
        <div class="col-sm-6 bg-nude half">
            <div class="about-info wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>Manager</h3>
                <img class="d-md-none" src="images/about/manager.png" width="150px" >
                <ul>
                    <li>Communiquer et être à l’écoute</li>
                    <li>Développer les compétences des collaborateurs </li>
                    <li>Savoir s'adapter et prendre des décisions</li>
                    <li>Être exemplaire : respect des autres, bienveillance, respect des règles, engagement</li>
                    <li>Avoir une vision globale et piloter la performance : fixer des objectifs et les suivre </li>
                </ul>
            </div>
        </div>
    </div>
</div>