<section id="blog">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>Les prochains évènements de G4 avec Bob</h2>
      </div>
    </div>
    <div class="blog-posts">
      <div class="row">
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms"> <!-- Début balise -->
          <div class="post-thumb">
            <div id="post-carousel"  class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#post-carousel" data-slide-to="1"></li>
                <li data-target="#post-carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img class="img-responsive" src="images/flyers/boite.png" alt="">
                </div>
                <div class="item">
                  <img class="img-responsive" src="images/flyers/cyber.png" alt="">
                </div>
                <div class="item">
                  <img class="img-responsive" src="images/flyers/wes.png" alt="">
                </div>
              </div>
              <a class="blog-left-control" href="#post-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
              <a class="blog-right-control" href="#post-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="entry-header">
            <h3><a href="#">Présentation G4</a></h3>
          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#blog-->
