<div class="container">
  <div class="row">
    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
      <h2>Bob dans la vie de l'Institut G4</h2>
      <p>Et oui, Bob est toujours avec nous ! Découvrez comment il nous accomagne au quotidien.</p>
    </div>
  </div>
  <div class="blog-posts">
    <div class="row">
      <div class="col-sm-6 wow fadeInUp espace-bloc" data-wow-duration="1000ms" data-wow-delay="600ms"> <!-- Début balise -->
        <div class="post-thumb">
          <div id="post-carousel1"  class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#post-carousel1" data-slide-to="0" class="active"></li>
              <li data-target="#post-carousel1" data-slide-to="1"></li>
              <li data-target="#post-carousel1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="img-responsive" src="images/flyers/presentation2g4.png" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/presentationg4.png" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/g4.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="entry-header">
          <h3>Présentation de notre école</h3>
        </div>
        <div class="entry-content">
          <p>L'Institut G4 propose une formation en alternance (dès la première année) Bachelor Informatique et multimédia (BAC+3) et une formation en Cycle d'Ingénierie Numérique et Gestion de projet (BAC+5).</p>
        </div>
        <div class="bouton">
          <a href="formatpdf" title="Télécharger les images au format pdf"><i class="fa fa-download"></i> Télécharger les PDFs</a>
        </div>
      </div>
      <div class="col-sm-6 wow fadeInUp espace-bloc" data-wow-duration="1000ms" data-wow-delay="600ms"> <!-- Début balise -->
        <div class="post-thumb">
          <div id="post-carousel2"  class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#post-carousel2" data-slide-to="0" class="active"></li>
              <li data-target="#post-carousel2" data-slide-to="1"></li>
              <li data-target="#post-carousel2" data-slide-to="2"></li>
              <li data-target="#post-carousel2" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="img-responsive" src="images/flyers/football.png" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/musique.jpg" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/wes.png" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/savetoplanet.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="entry-header">
          <h3>Actions de nos BDE</h3>
        </div>
        <div class="entry-content">
          <p>Nos BDE organisent régulièrement des événements de toute sorte afin d'animer l'Institut G4. Notamment des matchs de différents sports, des soirées ou des actions pour l'environnement.</p>
        </div>
        <div class="bouton">
          <a href="formatpdf" title="Télécharger les images au format pdf"><i class="fa fa-download"></i> Télécharger les PDFs</a>
        </div>
      </div>
      <div class="col-sm-6 wow fadeInUp espace-bloc" data-wow-duration="1000ms" data-wow-delay="600ms"> <!-- Début balise -->
        <div class="post-thumb">
          <div id="post-carousel3"  class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#post-carousel3" data-slide-to="0" class="active"></li>
              <li data-target="#post-carousel3" data-slide-to="1"></li>
              <li data-target="#post-carousel3" data-slide-to="2"></li>
              <li data-target="#post-carousel3" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="img-responsive" src="images/flyers/instagram.png" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/cyber.png" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/crossplatforme.png" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/boite.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="entry-header">
          <h3>Où trouver Bob ?</h3>
        </div>
        <div class="entry-content">
          <p>Bob est sur tous vos appareils connectés et sur tous vos réseaux !</p>
        </div>
        <div class="bouton">
          <a href="formatpdf" title="Télécharger les images au format pdf"><i class="fa fa-download"></i> Télécharger les PDFs</a>
        </div>
      </div>
      <div class="col-sm-6 wow fadeInUp espace-bloc" data-wow-duration="1000ms" data-wow-delay="600ms"> <!-- Début balise -->
        <div class="post-thumb">
          <div id="post-carousel4"  class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#post-carousel4" data-slide-to="0" class="active"></li>
              <li data-target="#post-carousel4" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="img-responsive" src="images/flyers/teeshirtbob.png" alt="">
              </div>
              <div class="item">
                <img class="img-responsive" src="images/flyers/superhero.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="entry-header">
          <h3>Divers</h3>
        </div>
        <div class="entry-content">
          <p>Retrouvez ici d'autres infos sur Bob ainsi que son T-shirt !</p>
        </div>
        <div class="bouton">
          <a href="formatpdf" title="Télécharger les images au format pdf"><i class="fa fa-download"></i>Télécharger les PDFs</a>
        </div>
      </div>
    </div>
  </div>
</div>
