<div class="container-fluid">
    <div class="presentation">
        <h2>Bob la mascotte</h2>
        <h3>Comme les étudiants de G4, il est ambivalent.</h3>
        <p>Il incarne aussi bien le rôle de technicien ou de manager, ses compétences sont sans égales !</p>
        <p>Avec son incroyable capacité à gérer les projets et à coordonner son équipe,<br/>
            et son impressionnant savoir en matière de développement, Bob réussit toutes<br/>
            les missions qu'on lui confie en un temps record !
        </p>
        <p class='mb-5'><b>Il est l'exemple de réussite pour tout élève de G4 !</b></p>
    </div>
    <div class="row question">
        <div class="col-md-4" id="image">
            <img src="images/slider/propos-1.png" alt="Mascotte de l'institut G4" width="200" height="350">
        </div>
        <div class="col-md-5">
            <h3>Pourquoi avoir choisi cette mascotte ?</h3>
            <p>Choisir <b>un super-héros dans le monde de l'entreprise</b> représente pour nous le fait que n'importe qui peut être un héros s'il le souhaite et surtout s'il s'en donne les moyens, à force de travail et de persévérance notamment.</p>
            <p>En plus de cela, Bob dispose d’un précieux atout, puisqu'il est quelqu'un qui incarne la bonne humeur, <b>il garde toujours le sourire</b>, même dans les situations les plus compliquées. <br>Comme il dit souvent d’ailleurs :  <b>"Il faut essayer, oser et persister pour pouvoir réussir".</b> </p>
            <p>C'est aussi quelqu'un pour qui le <b>travail d'équipe s'assimile à un cercle vertueux</b> que ce soit pour les  compétences, les relations humaines ou bien encore par l’expérience que cela nous apporte. </p>
            <p><b>Toutes ces raisons nous ont poussé à créer la mascotte Bob, qui porte ces valeurs de G4 qui nous sont si chères !</b></p>
        </div>
    </div>
</div>
