<div class="container-fluid">
    <div class="presentation">
        <h1>Bob la mascotte</h1>
        <h3>Comme les étudiants de G4, il est ambivalent.</h3>
        <h4>Il incarne aussi bien le rôle de technicine ou de manager, ses compétences sont sans égales !</h4>
        <h4>Avec son incoryable capacité à gérer les projets et coordonnée son équipe,<br/>
            et son impressionnant savoir en matère de développement, Bob réussit toutes<br/>
            les missions qu'on lui confie en un temps record !
        </h4>
        <h4 class='mb-5'><b>Il est l'exemple de réussite pour tout élève de G4 !</b></h4>
    </div>
    <div class="row question">
        <div class="col-md-3" id="image">
            <img src="images/slider/propos-1.png" alt="Mascotte de l'institut G4" width="200" height="350">
        </div>
        <div class="col-md-7">
            <h1>Pourquoi avoir choisi cette mascotte ?</h1>
            <h4>Choisir un homme déguisé en super-héros dans le monde de l'entreprise<br/>
                représente pour nous le fait que n'importe qui peut être un héros s'il le souhaite<br/>
                et surtout s'il s'en donne les moyens, à force de travail et de persévérance<br/>
                notament.</h4>
        </div>
    </div>
</div>