<div class="presentation">
    <div class="container">
        <div class="row ">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h2>Les super-pouvoirs de Bob ?</h2>
                <h3>Comme les étudiants de G4, il est ambivalent.</h3>
                <p>Il incarne aussi bien le rôle de technicien ou de manager, ses compétences sont sans égales !</p>
                <p>Avec son incroyable capacité à gérer les projets et à coordonner son équipe,
                    et son impressionnant savoir en matière de développement, Bob réussit toutes
                    les missions qu'on lui confie en un temps record !
                </p>
                <p><b>Il est l'exemple de réussite pour tout élève de G4 !</b></p>
            </div>
        </div>
    </div> 
    <div class="container-fluid">
        <img class="img-center d-xs-none" src="images/normal2.png" >
        <div class="row">
            <div class="col-sm-6 bg-darkblue half">
                <div class="fadeInLeft wow half-content" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h3>Technicien</h3>
                    <ul>
                        <li>Maîtriser les outils de CMS (Content Management System), Framework et outils d’édition de code</li>
                        <li>Se montrer créatif et imaginatif pour trouver de nouvelles solutions et innover</li>
                        <li>Connaître et maîtriser la programmation</li>
                        <li>Avoir une bonne culture générale informatique</li>
                        <li>S’autoformer (via la veille, des cours en ligne etc)</li>
                    </ul>
                </div>
            </div>            
            <div class="col-sm-6 bg-nude half">
                <div class="fadeInRight wow half-content" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h3>Manager</h3>
                    <ul>
                        <li>Communiquer et être à l’écoute</li>
                        <li>Développer les compétences des collaborateurs </li>
                        <li>Savoir s'adapter et prendre des décisions</li>
                        <li>Être exemplaire : respect des autres, bienveillance, respect des règles, engagement</li>
                        <li>Avoir une vision globale et piloter la performance, être focalisé sur les résultats, fixer des objectifs et les suivre</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Pourquoi avoir choisi cette mascotte ?</h3>
            <h3>Comme il le dit souvent :<br> "Il faut essayer, oser et persister pour pouvoir réussir".</h3>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <p>Choisir <b>un super-héros dans le monde de l'entreprise</b> représente pour nous le fait que n'importe qui peut être un héros s'il le souhaite et surtout s'il s'en donne les moyens, à force de travail et de persévérance notamment.</p>
            </div>
            <div class="col-sm-4 wow fadeInLeft">
                
                <p>En plus de cela, Bob dispose d’un précieux atout, puisqu'il est quelqu'un qui incarne la bonne humeur, <b>il garde toujours le sourire</b>, même dans les situations les plus compliquées. </p>
            </div>
            <div class="col-sm-4 wow fadeInLeft">
                <p>C'est aussi quelqu'un pour qui le <b>travail d'équipe s'assimile à un cercle vertueux</b> que ce soit pour les  compétences, les relations humaines ou bien encore par l’expérience que cela nous apporte. </p>
            </div>
        </div>
        <blockquote>Toutes ces raisons nous ont poussé à créer la mascotte Bob, qui porte les valeurs de G4 qui nous sont si chères !</blockquote>
    </div>
</div>
