<div class="container">
    <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Retrouvez Bob sur Snapchat</h2>
            <p>Pour emmenez Bob partout avec vous utilisez les filtres Snapchat. Pour obtenir ces filtres, survolez les images puis scannez le snap' code qui apparaît !</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="folio-item wow fadeInRightBig bg-lightblue" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/bob-coucou.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Bob joue au football</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/Snapcode-Football.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="folio-item wow fadeInLeftBig bg-nude" data-wow-duration="1000ms" data-wow-delay="400ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/bob-coucou.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Bob fait le beau pour instagram</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/Snapcode-Instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/bob-coucou.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Bob dans sur la musique</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/Snapcode-Danse-1990.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="folio-item wow fadeInLeftBig bg-lightblue" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/bob-coucou.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Bob surpris !</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/Snapcode-Présentation.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="folio-item wow fadeInRightBig bg-nude" data-wow-duration="1000ms" data-wow-delay="700ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/bob-coucou.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Bob mouvement de super héro</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/Snapcode-SuperHero.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/bob-coucou.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Bob prêt pour le ski</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/Snapcode-WES.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="folio-item wow fadeInRightBig bg-lightblue" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/bob-coucou.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Bob gagnant</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/Snapcode-Victory.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="folio-item wow fadeInLeftBig bg-nude" data-wow-duration="1000ms" data-wow-delay="1000ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/bob-coucou.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Bob en pleine dance !</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/Snapcode-Musique.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>