<div class="container">
    <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Bob sur Snapchat</h2>
            <p>Pour emmenez Bob partout avec vous utilisez les filtres Snapchat. Pour obtenir ces filtres, survolez les images puis scannez le snap' code qui apparaît !</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="folio-item wow fadeInRightBig bg-lightblue" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/snapchat/1.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Filtre Snapchat Bob by G4</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/snapcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="folio-item wow fadeInLeftBig bg-nude" data-wow-duration="1000ms" data-wow-delay="400ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/snapchat/2.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Filtre Snapchat Bob by G4</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/snapcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/snapchat/3.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Filtre Snapchat Bob by G4</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/snapcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="folio-item wow fadeInLeftBig bg-lightblue" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/snapchat/4.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Filtre Snapchat Bob by G4</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/snapcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="folio-item wow fadeInRightBig bg-nude" data-wow-duration="1000ms" data-wow-delay="700ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/snapchat/5.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Filtre Snapchat Bob by G4</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/snapcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/snapchat/6.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Filtre Snapchat Bob by G4</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/snapcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="folio-item wow fadeInRightBig bg-lightblue" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/snapchat/7.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Filtre Snapchat Bob by G4</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/snapcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="folio-item wow fadeInLeftBig bg-nude" data-wow-duration="1000ms" data-wow-delay="1000ms">
                <div class="folio-image">
                    <img class="img-responsive" src="images/snapchat/8.png" alt="">
                </div>
                <div class="overlay">
                    <div class="overlay-content">
                        <div class="overlay-text">
                            <div class="folio-info">
                                <h3>Filtre Snapchat Bob by G4</h3>
                                <p>Scanne moi !</p>
                            </div>
                            <div class="folio-overview">
                                <img src="images/snapchat/snapcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>