<div class="container">
    <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
            <h2>L'équipe</h2>
            <p>Découvrez la "dreamteam" qui a conçu Bob,<br> développé ce site internet et modélisé tout ce qui y est intégré...en une seule semaine</p>
        </div>
    </div>
    <div class="team-members">
        <div class="row">
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="100ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/antoine.png" alt="" />
                    </div>
                    <div class="member-info">
                        <h3 class="text-darkblue">Antoine Casta</h3>
                        <h4>Ingé 2</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/antoine-casta-23503b151/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="200ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/colin.png" alt="" />
                    </div>
                    <div class="member-info">
                        <h3 class="text-darkblue">Colin Loury</h3>
                        <h4>Ingé 2</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/colin-loury/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/evan.png" alt="" />
                    </div>
                    <div class="member-info">
                        <h3 class="text-darkblue">Evan Saksik</h3>
                        <h4>Bachelor 1</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/evan-saksik/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/gregory.png" alt="" />
                    </div>
                    <div class="member-info">
                        <h3 class="text-darkblue">Gregory Bersweiller</h3>
                        <h4>Ingé 1</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/gregory-bersweiler/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/malika.png" alt="" />
                    </div>
                    <div class="member-info">
                        <h3 class="text-darkblue">Malika Hanotte</h3>
                        <h4>Ingé 1</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/malika-hanotte/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/martin.png" alt="" />
                    </div>
                    <div class="member-info">
                        <h3 class="text-darkblue">Martin Piolat</h3>
                        <h4>Bachelor 1</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/martin-piolat/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="700ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/pierre.png" alt="" />
                    </div>
                    <div class="member-info">
                        <h3 class="text-darkblue">Pierre Pidancet</h3>
                        <h4>Ingé 2</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/pierre-pidancet/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/vincent.png" alt="" />
                    </div>
                    <div class="member-info">
                        <h3 class="text-darkblue">Vincent Amstoutz</h3>
                        <h4>Ingé 2</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/vincent-amstoutz/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>