<div class="container">
    <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
            <h2>L'équipe</h2>
        </div>
    </div>
    <div class="team-members">
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/antoine.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <h3>Antoine Casta</h3>
                        <h4>Ingé 2</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/antoine-casta-23503b151/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/colin.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <h3>Colin Loury</h3>
                        <h4>Ingé 2</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/colin-loury/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/evan.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <h3>Evan Saksik</h3>
                        <h4>Bachelor 1</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/evan-saksik/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/gregory.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <h3>Gregory Bersweiller</h3>
                        <h4>Ingé 1</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/gregory-bersweiler/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1400ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/malika.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <h3>Malika Hanotte</h3>
                        <h4>Ingé 1</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/malika-hanotte/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1700ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/martin.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <h3>Martin Piolat</h3>
                        <h4>Bachelor 1</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/martin-piolat/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="2000ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/pierre.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <h3>Pierre Pidancet</h3>
                        <h4>Ingé 2</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/pierre-pidancet/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="2300ms">
                    <div class="member-image">
                        <img class="img-responsive" src="images/team/vincent.jpg" alt="" />
                    </div>
                    <div class="member-info">
                        <h3>Vincent Amstoutz</h3>
                        <h4>Ingé 2r</h4>

                    </div>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/vincent-amstoutz/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>