<div class="container">
    <div class="visite">
        <div class="row">
            <div class="col-sm-6">
                <div class="visite-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Découvrez l'amphi de G4 Lyon avec Bob</h2>
                    <p>
                        Télécharger notre application, Bob vous fera la visite de l'amphitéâtre Bellecour de Lyon.
                    </p>
                    <div class="bouton visite">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let divBoutton = document.querySelector('div.bouton.visite'),
        aTelecharger = '<a href="https://drive.google.com/file/d/1pS818m8VSevb_P0qnJ9gxCi5odww0Zmb/view?usp=sharing" target="_blank" rel="noopener noreferrer"><i class="fa fa-download"></i> Télécharger l\'' +
        'application </a>';
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        aTelecharger = '<a disabled="disabled"> Vous devez être sur un ordinateur pour accéder à la visite virtuelle </a>';
    }
    divBoutton.insertAdjacentHTML('beforeend', aTelecharger);
</script>