<div class="container">
    <div class="visite">
        <div class="row">
            <div class="col-sm-6">
                <div class="visite-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Visiter l'amphi de G4 Lyon avec Bob</h2>
                    <p>
                        Télécharger notre application, Bob vous fera la visite de l'amphitéâtre Bellecour de Lyon.
                    </p>
                    <button type="button" class="btn btn-light">Télécharger</button>
                </div>
            </div>
        </div>
    </div>
</div>